apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-pv
spec:
  capacity:
    storage: 2Gi
    accessModes:
      - ReadWriteMany
    nfs:
      path: /srv/nfs/data
      server: 10.2.5.14
    persistentVolumeReclaimPolicy: Retain
